* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #191919;
    font-family: "Montserrat", serif;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    font-family: "Montserrat", serif;
}

button :hover {
    background-color: #FFF;
    color: black;
}

.top-btn i {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: white;
    color: black;
    padding: 1.5vmin;
    border-radius: 10px;
    transition: 0.3s ease;
}

.top-btn i:hover {
    color: #7FFF00;
}

header {
    padding: 5vmin 10vmin 0 10vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*sidebar*/

.backBtn i {
    cursor: pointer;
    background-color: #7FFF00;
    color: black;
    font-size: 3vmin;
    padding: 1.5vmin;
    border-radius: 50%;
    transition: 0.3s ease;
}

.backBtn i:hover {
    scale: 1.1;
}

.ham i {
    cursor: pointer;
    color: white;
    font-size: 4vmin;
}

.side-box {
    position: absolute;
    top: 12%;
    right: -300px;
    z-index: 1000;
    text-align: center;
    margin: auto 0;
    transition: 0.5s ease;
}

.side-box.active {
    right: 0;
}

.sidebar {
    width: 280px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    gap: 10vmin;
    padding: 12vmin 0;
}

.heading h1{
    font-size: 7vmin;
    text-align: center;
    color: #7FFF00;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vmin;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;
    max-width: 400px;
    text-align: center;
}

.swiper-slide img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 10px #7FFF00;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.swiper-slide img:hover {
    transform: scale(1.01);
}

.event-container {
    margin: 10vmin 0;
}

.event-container button a{
    width: fit-content;
    padding: 0.5vmin 2vmin;
    border: 1px solid #FFF;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.event-container button a:hover {
    background-color: white;
}

.event-container button a{
    color: white;
}

.event-container button a:hover {
    color: black;
}

/* footer */

footer {
    bottom: 0;
    margin-top: 10vmin;
    color: black;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info {
    text-align: left;
}

.info p {
    font-size: 15px;
}

.contact {
    flex: 0 0 25%;
}

.nav {
    margin: 5vmin 0;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    border-left: 3px solid black;
    border-right: 3px solid black;
}


.nav a {
    color: black;
    padding: 0 5vmin;
    font-weight: bold;
}

/* contact */

.contact {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    text-align: left;
}

.outro p{
    text-align: center;
    margin-bottom: 3vmin;
}

footer h1 {
    font-size: 25px;
    margin-bottom: 1vmin;
}