* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #191919;
    font-family: "Montserrat", serif;
    color: black;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.heading {
    padding: 5vmin 0;
    font-size: 7vmin;
    text-align: center;
    color: #7FFF00;
}

/* content */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
    margin: 20vmin;
    margin-bottom: 30vmin;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border-right: 2px solid #7FFF00;
    border-bottom: 2px solid #7FFF00;
    z-index: 100;
}

/* .element1 {
    top: 200px;
    position: absolute;
    width: 700px;
    height: 200px;
    background: #7FFF00;
}

.element2 {
    top: 400px;
    right: 0;
    position: absolute;
    width: 750px;
    height: 200px;
    background: #7FFF00;
} */

/* footer */

footer {
    bottom: 0;
    margin-top: 10vmin;
    color: black;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info {
    text-align: left;
}


.info p {
    font-size: 15px;
}

.contact {
    flex: 0 0 25%;
}

.nav {
    margin: 5vmin 0;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    border-left: 3px solid black;
    border-right: 3px solid black;
}


.nav a {
    color: black;
    padding: 0 5vmin;
    font-weight: bold;
}

/* contact */

.contact {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    text-align: left;
}

.outro p{
    text-align: center;
    margin-bottom: 3vmin;
}

footer h1 {
    font-size: 25px;
    margin-bottom: 1vmin;
}