* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    background-color: #191919;
    font-family: "Montserrat", serif;
    color: black;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.top-btn i {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: white;
    color: black;
    padding: 1.5vmin;
    border-radius: 10px;
    transition: 0.3s ease;
}

.top-btn i:hover {
    color: #7FFF00;
}

/*sidebar*/

.backBtn i {
    cursor: pointer;
    background-color: #7FFF00;
    color: black;
    font-size: 3vmin;
    padding: 1.3vmin 1.5vmin;
    border-radius: 50%;
    transition: 0.3s ease;
}

.backBtn i:hover {
    transform: translateX(-5px);
}

.ham i {
    cursor: pointer;
    color: white;
    font-size: 3vmin;
}

.side-box {
    position: absolute;
    top: 12%;
    right: -300px;
    z-index: 1000;
    text-align: center;
    margin: auto 0;
    transition: 0.5s ease;
}

.side-box.active {
    right: 0;
}

.sidebar {
    width: 280px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    gap: 10vmin;
    padding: 12vmin 0;
}

.heading h1{
    font-size: 7vmin;
    text-align: center;
    color: #7FFF00;
}

/* content */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
    margin: 20vmin;
    margin-bottom: 30vmin;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border-right: 2px solid #7FFF00;
    border-bottom: 2px solid #7FFF00;
    z-index: 100;
}

/* .element1 {
    top: 200px;
    position: absolute;
    width: 700px;
    height: 200px;
    background: #7FFF00;
}

.element2 {
    top: 400px;
    right: 0;
    position: absolute;
    width: 750px;
    height: 200px;
    background: #7FFF00;
} */

/* footer */

footer {
    left: 0;
    bottom: 0;
    margin-top: 15vmin;
    color: black;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    text-align: left;
}

.info h1 {
    font-size: 3.5vmin;
}

.info p {
    font-size: 2vmin;
    margin-bottom: 1vmin;
}

.socials{
    list-style: none;
    display: flex;
    gap: 2vmin;
}

.socials i{
    font-size: 2.2vmin;
    color: black;
    transition: 0.3s ease;
}

.socials i:hover {
    color: white;
}

.nav {
    margin: 5vmin 0;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.nav a {
    font-size: 2vmin;
    color: black;
    padding: 0 5vmin;
    font-weight: bold;
    transition: 0.3s ease;
}


.nav a:hover {
    color: white;
}

.contact {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    gap: 1.5vmin;
    text-align: left;
}

.contact h1 {
    font-size: 3.5vmin;
}

.contact p {
    font-size: 2vmin;
}

.outro p {
    font-size: 2vmin;
    text-align: center;
    margin-bottom: 3vmin;
}