* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    background-color: #191919;
    font-family: "Montserrat", serif;
    color: white;
    overflow-x: hidden;
}

.content-wrapper {
    margin: 0 12vmin;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    font-family: "Montserrat", serif;
}

button :hover {
    background-color: #FFF;
    color: black;
}

span {
    color: #7FFF00;
}

.headings {
    padding-top: 5vmin;
    font-size: 7vmin;
    text-align: center;
    color: #7FFF00;
}

.top-btn i {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: white;
    color: black;
    padding: 1.5vmin;
    border-radius: 10px;
    transition: 0.3s ease;
}

.top-btn i:hover {
    color: #7FFF00;
}

/* navbar */

.navbar {
    width: 100%;
    padding: 35px 0;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    transition: 0.5s;
    box-sizing: border-box;
}

.navbar ul li {
    list-style: none;
}

.logo img {
    cursor: pointer;
    height: 6vmin;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 7vmin;
}

.nav-items a {
    transition: 0.3s ease-in-out;
}

.nav-items a:hover {
    color: #7FFF00;
}

.ham i {
    cursor: pointer;
    color: white;
    font-size: 3vmin;
}

/* sidebar */

.side-box {
    position: fixed;
    top: 12%;
    right: -300px;
    z-index: 1000;
    text-align: center;
    margin: auto 0;
    transition: 0.3s ease;
}


.side-box.active {
    right: 0;
}

.sidebar {
    width: 280px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    gap: 10vmin;
    padding: 12vmin 0;
}

.side-nav-items a {
    transition: 0.4s ease;
}

.side-nav-items a:hover {
    color: #7FFF00;
}

/* hero-page */

#hero-page {
    position: relative;
    height: 70vh;
}

#hero-page .text {
    margin-top: 18vmin;
}

#hero-page .text h1 {
    font-size: 10vmin;
}

#hero-page .text h3 {
    font-size: 5vmin;
    font-weight: 200;
}

#hero-page p {
    position: absolute;
    top: 28%;
    right: -27vmin;
    font-size: 2.7vmin;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    z-index: 10;
}

/* .element {
    position: absolute;
    bottom: 00px;
    right: 100px;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(152, 238, 68, 0.50);
    filter: blur(100px);
    z-index: 1;
} */

#hero-page .image img {
    position: absolute;
    bottom: 7vmin;
    right: 10vmin;
    height: 35vmin;
    z-index: 10;
}

/* About */

#about {
    padding: 18vmin 0;
    display: flex;
}

#about .text {
    display: flex;
    flex-direction: column;
    gap: 5vmin;
    flex: 0 0 60%;
    font-size: 3.2vmin;
    line-height: 40px;
    text-align: justify;
}

#about .heading {
    text-align: center;
    flex: 0 0 50%;
    font-size: 5vmin;
    z-index: 10;
}

/* events */

.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vmin 0;
}

.slider {
    margin-bottom: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    height: 40vmin;
}

.swiper-slide:nth-child(3) img {
    height: 60vmin;
    border: 1px solid #7FFF00;
}

.event-container button a{
    padding: 0.5vmin 2vmin;
    border: 1px solid #FFF;
    background-color: transparent;
    transition: 0.3s ease;
}

.event-container button a:hover {
    background-color: white;
}

.event-container button a:hover {
    color: black;
}

/* team */

.team-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vmin;
}

.team-container {
    display: grid;
    gap: 7vmin;
    margin-bottom: 5vmin;
}

.first-row {
    margin-top: 5vmin;
    grid-template-columns: repeat(2, 1fr);
}

.rest-rows {
    margin-top: 5vmin;
    grid-template-columns: repeat(5, 1fr);
}

.team-member {
    text-align: center;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-pic {
    margin-bottom: 2vmin;
}

.name {
    font-size: 2.3vmin;
    font-weight: bold;
}

.role {
    margin-top: 0.3vmin;
    font-size: 2.1vmin;
    color: gray;
}

.team-page button a{
    padding: 5px 20px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    transition: 0.3s ease;
}

.team-page button a:hover {
    background-color: white;
}

.team-page button a:hover {
    color: black;
}

/* contact */


#contact .contacts {
    margin-top: 15vmin;
    display: flex;
    flex: 1 1 50%;
}

#contact .student {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    gap: 5vmin;
}

#contact .student h1,
#contact .faculty h1 {
    font-size: 3.5vmin;
    border-bottom: 1px solid #7FFF00;
    margin-bottom: 2vmin;
    padding-bottom: 10px;
}


#contact .student p,
#contact .faculty p {
    font-size: 2.6vmin;
}

#contact .faculty {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    gap: 5vmin;
}

/* footer */

footer {
    left: 0;
    bottom: 0;
    margin-top: 15vmin;
    color: black;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info {
    text-align: left;
}

.info p {
    font-size: 15px;
}

.contact {
    flex: 0 0 25%;
}

.nav {
    margin: 5vmin 0;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.nav a {
    color: black;
    padding: 0 5vmin;
    font-weight: bold;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    text-align: left;
}

.outro p {
    text-align: center;
    margin-bottom: 3vmin;
}

footer h1 {
    font-size: 25px;
    margin-bottom: 1vmin;
}

/*loader*/

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    opacity: 1;
    z-index: 1000;
}

.loader-container span {
    opacity: 0;
}

.loader-container .space {
    display: inline-block;
    width: 10px;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}