* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #191919;
    font-family: "Montserrat", serif;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

header {
    margin-top: 5vmin;
    padding: 0 10vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-btn i {
    cursor: pointer;
    opacity: 0;
    display: block;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: white;
    color: black;
    padding: 1.5vmin;
    border-radius: 10px;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.top-btn i.show {
    opacity: 1;
}

.top-btn i:hover {
    color: #7FFF00;
}

/* Sidebar */

.backBtn i {
    cursor: pointer;
    background-color: #7FFF00;
    color: black;
    font-size: 3vmin;
    padding: 1.3vmin 1.5vmin;
    border-radius: 50%;
    transition: 0.3s ease;
}

.backBtn i:hover {
    transform: translateX(-5px);
}

.ham i {
    cursor: pointer;
    color: white;
    font-size: 3vmin;
}

.side-box {
    position: fixed;
    top: 12%;
    right: -300px;
    z-index: 1000;
    text-align: center;
    margin: auto 0;
    transition: right 0.5s ease;
}

.side-box.active {
    right: 0;
}

.sidebar {
    width: 280px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    gap: 10vmin;
    padding: 12vmin 0;
}

.heading h1 {
    font-size: 7vmin;
    text-align: center;
    color: #7FFF00;
}

.batches {
    margin: 0 10vmin;
    display: flex;
    align-items: center;
    gap: 2vmin;
}

.members {
    margin: 2vmin 10vmin;
    font-size: 25px;
    font-weight: 300;
}

.batch {
    cursor: pointer;
    display: flex;
    padding: 1vmin 2vmin;
    border: 2px solid #7FFF00;
    border-radius: 20px;
    transition: 0.5s ease;
    font-size: 3vmin;
}

.batch:hover,
.batch.active {
    border: none;
    background-color: #7FFF00;
    color: black;
    font-weight: 700;
}

/* Team Page */

#team-page {
    display: flex;
    flex-direction: column;
    padding: 12vmin;
}

.team-container {
    display: flex;
    flex-direction: column;
    gap: 7vmin;
    overflow: hidden;
    position: relative;
}

.team-container::-webkit-scrollbar {
    display: none;
}

.scrollable {
    display: flex;
    gap: 5vmin;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vmin;
}

.profile-pic img {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
}

.profile-pic {
    margin-bottom: 2vmin;
}

.name {
    font-size: 2.3vmin;
    font-weight: bold;
}

.role {
    margin-top: 0.3vmin;
    margin-bottom: 3vmin;
    font-size: 2.1vmin;
    color: gray;
}

.team-page button {
    padding: 5px 20px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.team-page button:hover {
    background-color: white;
    transform: scale(1.05);
}

.team-page button a:hover {
    color: black;
}

/* Footer */

footer {
    height: 50vmin;
    color: black;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info {
    text-align: left;
    flex: 0 0 27%;
}

.info h1 {
    font-size: 3.3vmin;
    margin-bottom: 1vmin;
}

.info p {
    font-size: 1.9vmin;
}

.nav {
    margin: 5vmin 0;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.nav a {
    font-size: 2vmin;
    color: black;
    padding: 0 5vmin;
    font-weight: bold;
}

.contact {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    gap: 1.5vmin;
    text-align: left;
}

.contact h1 {
    font-size: 3vmin;
}

.contact p {
    font-size: 1.8vmin;
}

.outro p {
    font-size: 1.8vmin;
    text-align: center;
    margin-bottom: 3vmin;
}

@media (max-width: 500px) {
    .team-container h1 {
        font-size: 3vmin;
    }

    .members {
        font-size: 4vmin;
    }

    header {
        margin-top: 10vmin;
        margin-bottom: 10vmin;
        padding: 0 7vmin;
    }

    .ham i {
        font-size: 1.5vmin;
    }
}